@model IEnumerable<PlayingWReddit.Models.RedditPost>

@{
    ViewBag.Title = "Reddit";
}

<h2>Reddit</h2>

@foreach(var o in Model)
{
    <a href="@o.LinkURL">
        <h2>@o.Title</h2>
        <img src="@o.ImageURL"/>
    </a>
}
